* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

a {
  text-decoration: none;
}

#top-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#top-button img {
  width: 60px;
  height: 60px;
}